/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 /* Foundation */

body h1, h2, h3, h4, h5, h6 {
   font-family: 'Volkhov', serif;
}

.top-bar img {
   height: 45px;
}

.full-height {
   height: 100%;
}

.button {
  padding: .8rem 1.8rem 1rem 1.8rem;
}

/* Background Images */

.bg-img {
  background: url("background.jpg") no-repeat center center scroll;
  background-size: cover;
}

.home {
  background: url("home.jpg") no-repeat center center scroll;
  background-size: cover;
}

/* Home Page */

.shadow {
  background: rgba(38,10,66,.7);
  margin-top: 20%;
}

.shadow h1, h3 {
  color: white;
}

.title {
  font-family: 'Kaushan Script', cursive;
}

/* Floating container */
.floating-container {
  margin: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.88);
  text-align: center;
}

.floating-container .name {
  text-align: center;
}

.floating-container p {
  margin: 0;
}
